<div class="container">
  <!-- <button (click)="showUser = !showUser">Toggle App User</button> -->
<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users; first as isFirst; last as isLast; even as isEven; odd as isOdd; index as i">
    <!-- is this First? {{ isFirst }} | Is this Last? {{ isLast }} <br>
    Is this Even? {{ isEven }} | Is this Odd? {{ isOdd }} <br>
    Index : {{ i }} -->
    <!-- <app-user *ngIf="showUser" -->
    <app-user
      (childEvent) ="onMoreInfo($event)"
      [user]="user" [title]="title" >

      <!-- <header>Header Information</header>
      <main>Main Contents - {{user.lastName}}</main>
      <footer>Footer Info</footer> -->
    </app-user>
    <!-- <input type="text" [(ngModel)]="title"> -->
  </li>
</ul>
</div>
