<div class="container">

  <app-header></app-header>

  <hr>

  <!-- <app-new-employee></app-new-employee> -->

  <router-outlet></router-outlet>
</div>

<!-- <button (click)="showCmp = !showCmp">Toggle Observable Comp</button>

<app-observable-demo *ngIf="showCmp"></app-observable-demo> -->

<!-- <h4>Counter in App: {{ getCounter() }}</h4>
<button class="btn btn-secondary" (click)="increaseCounter()">Increase Counter</button> -->

<!-- <app-register></app-register> -->

<!-- <app-login></app-login> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<!-- <app-users *ngIf="isUserAuthenticated()"></app-users> -->
