<ng-content select="header"></ng-content>

<!-- {{user | json}} -->


<div class="row">
  <div class="col-sm-3 col-md-3">
    <img [src]="user.image" class="rounded-circle img-fluid" />
    <div class="text-center">
      <button (click)="onEventFire()" class="btn btn-primary btn-block">More Info</button>
    </div>
  </div>
  <div class="col-sm-9 col-md-9">

    <h3 app-highlight [favColor]="'yellow'" >
      {{ user.firstName | titlecase}} {{ user.lastName | uppercase}}
    </h3>

    <p *ngIf="user.isWorking; else ElseTemplate" [ngStyle]="myDynamicStyle">
      Income : <span [innerHTML]="user.income | currency : 'INR'"></span>
    </p>

    <!-- <p [ngClass]="['my-border', 'my-feature']" class="my-border my-feature">Date of Birth : {{ user.dob }}</p> -->
    <p [ngClass]="myDynamicClass">Date of Birth : {{ user.dob | date : 'MM/dd/yyyy'}}
      <button class="btn btn-default btn-sm" (click)="onToggle()">Toggle Class</button>
    </p>

    <p>
      Total Votes: {{ user.vote | percent }} <br>
      <input
        type="number"
        [value]="user.vote"
        (change)="user.vote = $event.target.value"
      />
      <input type="number" [(ngModel)]="user.vote" />
      <ng-content></ng-content>
    </p>
    <div [ngSwitch]="num">
      <div *ngSwitchCase="98">Output 1</div>
      <div *ngSwitchCase="99">Output 2</div>
      <div *ngSwitchCase="101">Output 3</div>
      <div *ngSwitchDefault>Default Output</div>
    </div>
  </div>
</div>

<ng-template #ElseTemplate>
  <p>Mr. {{user.lastName}} is not working now.</p>
</ng-template>

<ng-content select="footer"></ng-content>
